
/*------------------------------MAIN------------------------------*/
.small-n{ 
	width:45%; 
	margin-right:5%
	}
	.small-nI{ 
	width:95%; 
	margin-right:5%
	}
body{ 
	background:url(../img/skulls.png); 
	color:white
	}
.fondoBlanco{ 
	background:url(../img/transp.png)
	}
		
.borde{
	border:black solid 1px;
	}

.clear{ 
	clear:both;
  }
.no-margin{ 
	margin:0px;
	}
.no-padding{ 
	padding:0px;
	}
.column{
		padding:0;
	}
article{ 
	height:800px; 
	position:relative
	}
article,aside{ 
	margin-top:20px
	}

				
/*------------------------------MAIN------------------------------*/


/*------------------------------HEADER------------------------------*/

header li {
	 list-style:none;
	 display:inline
	} 
header ul {
	margin:15px ;
	
	} 
nav .button {
      border: 0;
      background: none;
      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;
      font-size: 0.85em;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      padding-top: 50px;
      padding-bottom: 30px;
   
    }

	
	header > div.row > nav > ul > li/*:nth-child(4)*/ > a{
		border:none !important;
		/*border-right: 1px solid;
		border-color: rgba(255,255,255,0.5);*/
		}

nav .button:hover {
      background:url(../img/bg.png);
      color: white;
			
    }
nav .button:active {
      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;
      background: #BF3030;
    }
/*header nav ul li .button{
	
	margin:0;
	
	background:#700000;
	}
header nav ul li .button:hover{
	background:#A60000	;*/
	
header > div.row { 
	margin-bottom:20px;
	
	
	}
header > div.row  a { 
	margin-bottom:0
	}
header > div.row  a > img {/*social media*/ 
	margin:43px 2px
  }
header div:first-child{ 
	height:auto;
	background:url(../img/bg.png)	;
	text-align:center
	}
header > div.row{ 
	margin-bottom:0;
	text-align:center
	}
header > div > a > img{/*logo nexo*/ 
	height:120px; 
	width:auto; 
	margin:35px 0
	}
body#home header nav ul li:nth-child(1) a,
body#programacion header nav ul li:nth-child(2) a,
body#quienessomos header nav ul li:nth-child(3) a,
body#contacto header nav ul li:nth-child(4) a{
	color:#E60100	/*hover en el nav*/
	}
/*-----------------------aside------------------------*/
div > aside > div{ 
	float:none !important;
	text-align:center;
	color:white;
	
	}
div > aside > div:first-child{
	margin-top:1rem
	}
/*-----------------------aside------------------------*/

																	
/*------------------------------HEADER------------------------------*/


/*------------------------------Noticia------------------------------*/
.noticia,.noticias {
	text-align:left;
	height:auto
	}
.noticia div img {
	width:100%;
	height:auto
	}
.noticia p,.noticia h1{
	color:white}
.noticia > div {
	position:relative
	}
.noticia > div{
	margin-bottom:20px;
	
	}
.noticia h1{
	font-size: 1.5rem;
	text-align:center;
	}

																	
								
/*------------------------------Noticia------------------------------*/


/*------------------------------NOTICIAS------------------------------*/

.noticias p,.noticias h1{
	color:white}
.noticias > div > div {
	position:relative
	}
.noticias > div{
	margin-bottom:20px;
	
	}
.noticias h1{
	font-size: 1.2rem;}
.noticias div img {
	padding-top:20px;
	height:300px}
											
													
																																									
/*------------------------------Noticias------------------------------*/


/*------------------------------quienessomos------------------------------*/
.quienessomos ul li img{ 
	width:100%;
	height:500px
	}
.quienessomos h2{
	font-size:1rem;
	color:white;}
																

/*------------------------------quienessomos------------------------------*/
              
            







 
	
